@font-face {
  font-family: 'SejongHospitalBold';
  font-style: normal;
  src: url('../assets/font/SejongHospitalBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SejongHospitalLight';
  font-style: normal;
  src: url('../assets/font/SejongHospitalLight.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareRegular';
  font-style: normal;
  src: url('../assets/font/NanumSquareRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareBold';
  font-style: normal;
  src: url('../assets/font/NanumSquareBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareEB';
  font-style: normal;
  src: url('../assets/font/NanumSquareEB.ttf') format('truetype');
}

body {
  background-color: #f1f1f1;
  font-family: 'NanumSquareRegular';
}

#root {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

input[type='password']::placeholder {
  font-family: 'NanumSquareBold';
}

input[type='password'] {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.gradientBackground {
  background: linear-gradient(
      180deg,
      rgba(48, 143, 255, 0.2) 0%,
      rgba(225, 239, 255, 0.2) 51.01%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #ffffff;
}

/* Swiper */
.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-carousel {
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.horizontalScrollBox > .swiper-wrapper,
.horizontalScrollBox > .swiper-wrapper > .swiper-slide {
  width: fit-content !important;
  height: fit-content;
}

/* Daisy UI */
.btn-full {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.btn-fit {
  padding: 1rem;
}

/* Scrollbar */
* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #eee;
  }
}
