@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip-primary:before {
    @apply text-primary bg-slate-100;
  }
  .editor-error .ProseMirror .placeholder {
    @apply text-error;
  }
}

@layer utilities {
  .text-error {
    @apply animate-headShake
  }
  .clickable {
    @apply cursor-pointer transform active:scale-95 transition-transform;
  }
  .skeleton {
    @apply bg-skeleton-loading bg-200% bg-100-0 animate-load;
  }
}

.toaster {
  margin-top: calc(env(safe-area-inset-bottom) * 1.2);
}

.screen-width {
  max-width: 430px;
}

.screen-width.filter-nav {
  max-width: 100%;
  width: 430px
}

@media all and (min-width:431px) {
  .screen-width {
    max-width: 400px;
  }
  .screen-width.filter-nav {
    max-width: 100%;
    width: 400px
  }
}

/* TOAST-UI-EDITOR */
.toastui-editor-defaultUI * {
  font-size: 1rem;
}


/* TOOLTIP */
.tooltip-primary {
  --tooltip-color: #f1f5f9;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked),     .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]):hover, .tabs-boxed :is(input:checked):hover  {
  color: white;
}

.btn:focus-visible {
  outline: none;
}

.collapse-arrow > .collapse-title:after {
  top: 0.5rem;
  inset-inline-end: 0.1rem;
}

.collapse[open] > :where(.collapse-content), .collapse-open > :where(.collapse-content), .collapse:focus:not(.collapse-close) > :where(.collapse-content), .collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content), .collapse:not(.collapse-close) > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}