@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip-primary:before {
    @apply text-primary bg-slate-100;
  }
}

@layer utilities {
  .clickable {
    @apply cursor-pointer transform active:scale-95 transition-transform;
  }
  .skeleton {
    @apply bg-skeleton-loading bg-200% bg-100-0 animate-load;
  }
}

/* TOOLTIP */
.tooltip-primary {
  --tooltip-color: #f1f5f9;
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked),     .tabs-boxed .tab-active:not(.tab-disabled):not([disabled]):hover, .tabs-boxed :is(input:checked):hover  {
  color: white;
}

.btn:focus-visible {
  outline: none;
}

.collapse-arrow > .collapse-title:after {
  top: 0.5rem;
  inset-inline-end: 0.1rem;
}

.collapse[open] > :where(.collapse-content), .collapse-open > :where(.collapse-content), .collapse:focus:not(.collapse-close) > :where(.collapse-content), .collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content), .collapse:not(.collapse-close) > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}