/* Date Picker */
.react-datepicker-popper {
  transform: translate(-50%, -50%) !important;
  top: 40% !important;
  left: 50% !important;
  z-index: 9999;
}

.react-datepicker {
  border: 0 !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  font-family: 'NanumSquareRegular' !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.react-datepicker__day--selected {
  background-color: #308fff !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border: 0 !important;
}
